# ==========================================
# Kolchi Business — Backend Environment
# ==========================================

# Django
DJANGO_SECRET_KEY=change-me-in-development
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Localization
DJANGO_LANGUAGE_CODE=fa-ir
DJANGO_TIME_ZONE=Asia/Tehran

# Database
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# API
API_VERSION=v1